@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.splash-screen-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
.btn-default {
  background-color: #10ac84;
  padding: 8px 10px;
  border: 0;
  border-radius: 4px;
  width: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
}
.cancel-btn {
  background-color: rgba(196, 69, 105,1.0);
  padding: 4%;
  border: 0;
  border-radius: 4px;
  width: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
}
.btn-default:hover {
  opacity: 1;
}
img.splash-image {
  width: 600px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.7;
  z-index: 1;
  top: 0
}
.login-window-outline {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}
.login-window-header {
  background-image: linear-gradient(to right, rgba(119, 139, 235,0.7), rgba(120, 111, 166,0.7)), url('./components/images/wallpaperLogin.jpg');
  width: 400px;
  background-size: cover;
  background-position: center;
  padding: 4%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.login-window-body {
  width: 400px;
  background-color: rgb(247, 247, 247);
  padding: 4%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.login-window-header h1 {
  color: white;
  font-size: 38px;
}
.login-window-header small {
  color: white;
}
.form-control small {
  margin-bottom: 0.8%;
  color: #dddddd;
  font-weight: 600;
  line-height: 32px;
}
.form-control {
  display: grid;
  margin-bottom: 2%;
}
.text-with-input {
  display: grid;
  background-color: white;
  border-radius: 4px;
}
.text-with-input small, .text-with-textarea small {
  font-size: 12px;
  color: #8d8d8d;
  margin-left: 2%;
}
.input-default-main {
  border-radius: 4px;
  outline: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  padding-bottom: 2%;
  resize: none;
  margin-left: 2%;
}
.login-window-header h5 {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  width: fit-content;
}
.logo-img {
  width: 100px;
}
.splash-nav-outline {
  display: flex;
  align-items: center;
}
.splash-nav-outline small {
  font-weight: bold;
  font-size: 20px;
}
.dashboard-nav-outline {
  /* background: #e4e4e4; */
  margin: 0.5%;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5%;
  /* border: 1px solid #d4d4d4; */
  border-bottom: 1px solid #d4d4d4;
}
.left-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.right-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.left-menu h4, .right-menu h4 {
  cursor: pointer;
  opacity: 0.8;
}
.left-menu h4:hover, .right-menu h4:hover {
  opacity: 1;
}
.card-outline {
  width: 400px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 2;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.card-header h4 {
  cursor: pointer;
}
.card-body {
  background: #f8f8f8;
  padding: 5%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1%;
}
small.error-handle {
  color: red;
  font-weight: bold;
  padding-left: 3%;
}
.header-top-section {
  padding: 1%;
}
.header-top-section h1 {
  font-size: 58px;
  color: #656565;
}
.wallet-card-outline {
  border: 1px solid gray;
  /* padding: 1%; */
  border-radius: 4px;
  width: 383px;
  margin-top: 2%;
}
.wallet-card-outline-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b6b6b6;
  background: #ededed;
  padding: 2%;
}
.wallet-card-outline-body {
  padding: 2%;
}
.wallet-card-outline-footer {
  padding: 2%;
  border-top: 1px solid #b6b6b6;
  background: #ededed;
}